body{
    margin:0;
    font-family: Arial, sans-serif;
    background: linear-gradient(#000000,#1a1a1a);
    color:white;
    text-align:center;
}
header{
    background:#111;
    padding:40px 20px;
    border-bottom:3px solid #ff9933;
}
header h1{
    font-size:40px;
    color:#ff9933;
    margin:0;
}
header p{
    font-size:18px;
    color:#ddd;
}
.tribute-img{
    margin-top:30px;
}
.tribute-img img{
    width:80%;
    max-width:600px;
    border-radius:10px;
    border:3px solid #fff;
}
.content{
    padding:40px 20px;
    max-width:800px;
    margin:auto;
    line-height:1.7;
}
footer{
    background:#111;
    padding:20px;
    border-top:3px solid #138808;
    margin-top:40px;
}